/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

* {
    box-sizing: border-box;
}


img{
    max-width: 100%;
    border-bottom: 1px solid lightgray;
}

.country-card{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 350px;
    cursor: pointer;
    margin: 40px;
   
}

.country-card-header{
    height: 200px;
}

.country-card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.country-card-content{
    background-color: white;
    padding: 30px;
}

.country-card-title{
    height: 20px;
    margin: 0;
    font-size: medium;
}


.country-card-text{
   
    text-decoration: none;
}


.country-profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

a{
    text-decoration: none;
    color: black;
}