body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.countries-page-content{
    padding-top: 100px;
}

.country-card-title{
    padding: 15px;
    text-decoration: none;
}


.country-card-container{
    display: flex;
  flex-wrap: wrap;
}


.country-card-picture{
    background-image: url('https://images.unsplash.com/photo-1593180365827-a8f16fe44ee2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}